---
const { date, title, imgSrc, slug } = Astro.props;
---

<section>
  <a href={`/blogs/${slug}`} class="block overflow-hidden text-left p-4">
    <div class="text-sm text-[gray] mb-2">{date}</div>
    <div class="text-lg text-black mb-4">{title}</div>
    <img
      src={imgSrc}
      alt={`Image related to ${title}`}
      class="w-full aspect-[2/1] mb-2 object-cover max-w-md"
    />
    <div class="text-sm text-black underline">Read More</div>
  </a>
</section>
