---
const { imageUrl, type, country, name, slug } = Astro.props;
---

<!-- <div class="card mb-14">
  <div class="card-image-wrapper">
    <a href=`/hotels/${slug}`
      ><img src={imageUrl} alt={name} class="card-image" /></a
    >
    <div class="property-label uppercase">{type}</div>
  </div>

  <p class="text-xs uppercase my-3">{country}</p>
  <p class="text-sm uppercase">{name}</p>
</div> -->



<div class="card mb-14 bg-white text-black rounded-lg p-4 sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)] xl:w-[calc(25%-0.7rem)] box-border">
  <div class="relative w-full h-[90%] overflow-hidden rounded-lg ">
    <a href={`/hotels/${slug}`}>
      <img src={imageUrl} alt={name} class="w-full h-full object-cover transition-transform duration-300 ease-in-out transform-gpu rounded-lg hover:scale-105" />
    </a>
    <div class="property-type absolute top-4 right-0 bg-[#BA4D2C] text-white px-2 py-1 text-sm uppercase"> {type} </div>
  </div>

  <p class="property-country text-xs uppercase my-3">{country}</p>
  <a href={`/hotels/${slug}`}><p class="property-name text-sm uppercase">{name}</p></a>
</div>






























<!-- ------------------------------ -->

<!-- ---
import PropertyCard from './PropertyCard.astro';
const properties = await Astro.glob('./properties/*.md')
---

  <h1>Explore</h1>
  <div class="property-list">
    <div class="flex items-center justify-between mx-32 my-10">
    {properties.map((property) => { 
        const {slug, type, title, image} = property.frontmatter;
return (

       

        
      <PropertyCard
        key={slug}
        slug={slug}
        type={type}
        title={title}
        image={image}
      />
      
      ) }
    )}
    </div>
  </div> -->
