---
const { slug, type, title, image } = Astro.props;
console.log(image)
---
<a href={`/hotels/${slug}`}>
<div class="property-card">
  <img src={image} alt={title} class="w-60 aspect-square"/>
  <div class="property-info">
    <span class="property-type">{type}</span>
    <h2>{title}</h2>
    
  </div>
</div>
</a>


<!-- ------------------------------ -->


<!-- ---
import PropertyCard from './PropertyCard.astro';
const properties = await Astro.glob('./properties/*.md')
---

  <h1>Explore</h1>
  <div class="property-list">
    <div class="flex items-center justify-between mx-32 my-10">
    {properties.map((property) => { 
        const {slug, type, title, image} = property.frontmatter;
return (

       

        
      <PropertyCard
        key={slug}
        slug={slug}
        type={type}
        title={title}
        image={image}
      />
      
      ) }
    )}
    </div>
  </div> -->