---
import Layout from "../Layout/Layout.astro"
import Showcase from "../components/Showcase.astro";
import Article from "../components/article.astro"
// import {glob} from 'astro:content'

 const articles = await Astro.glob('../articles/*.md')
---

<Layout>
    <Showcase title = "Articles" />
  <div class="article-list">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
    {articles.map(article => {
      const { title, author, date, description, slug } = article.frontmatter;

      return (

      
        <Article
          key={slug} 
          title={title} 
          author={author} 
          date={date} 
          description={description} 
          slug={slug} 
        />
      );
    })}
        </div>
    </div>
  </div>
</Layout>