---
import { songs } from "../../data/songs"; // Import the static song data
import Layout from "../../Layout/Layout.astro";

// Fetch data for the specific song
export async function getStaticPaths() {
  return songs.map((song) => ({
    params: { id: song.id.toString() },     
    props: { song }
  }));
}

const { title, image, description, trans } = Astro.props.song;
---


   
  <Layout>
    <div class="h-screen">
    <div class="details-container ">
      <img src={image} alt={title} class="details-image" transition:animate="fade" transition:name={trans} width="600", height="600"/>
      <div class="details-content">
        <h1 class="text-3xl">{title}</h1>
        <p>{description}</p>
      </div>
    </div>
</div>
</Layout>
 
    <style>
       
        .details-container {
          display: flex;
          align-items: center;
          padding: 1rem;
        }
        
        .details-content {
          margin-left: 20px;
        }
      </style>