---
// import data from "./data/data23.json"; // Adjust the path if necessary
const { data } = Astro.props;
---

<div class="swiper-container w-full px-5 py-[0] h-full bg-[black] text-[#fff] relative overflow-hidden">
  <div class="swiper-wrapper w-full ">
    {
      data.map((item, index) => (
        <div class="swiper-slide w-1/3">
          <div class="image-item relative m-4 w-[90%] [aspect-ratio:40/80] ">
            <div class="heading flex justify-center items-center gap-[0.8rem] mb-4">
              <>
                <div class="logo1 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/a30d6d664bbd8d70e325-awards-left-ico.svg')] bg-cover" />
                <p class="text-center m-0 px-[0] py-[10px] relative uppercase text-[12px] text-[white]">
                  {item.id} of the year
                </p>
                <div class="logo2 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/1292597e04db92596ba7-awards-right-ico.svg')] bg-cover" />
              </>
            </div>
            <div class="image-overlay absolute top-[10] left-[0] w-full h-[90%] bg-[rgba(0,_0,_0,_0.6)] text-[#fff] flex justify-center items-center opacity-0 [transition:opacity_0.3s_ease] pointer-events-none">
              <div class="image-name absolute w-3/5 bottom-[40%] [transition:1s] flex flex-col justify-center items-center text-center">
                <span class="place text-[13px] uppercase text-[rgba(168,_165,_165,_0.945)] m-[0.8rem]">
                  {item.place}
                </span>

                <span class="place-name text-[20px] uppercase text-[#ffffffe0]">
                  {item.name}
                </span>
              </div>
            </div>
            <a
              href="/"
              class="img w-full h-4/5 block [transition:opacity_0.3s_ease] bg-cover bg-center"
              style={`background-image: url(${item.imSrc1})`}
            />
          </div>
        </div>
      ))
    }
  </div>

  :
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js";
  // Initialize Swiper
  const swiper = new Swiper(".swiper-container", {
    slidesPerView: "3", // Automatically adjust based on slide width
    spaceBetween: 10,
    breakpoints: {
      // when window width is >= 768px
      768: {
        slidesPerView: 3,
        spaceBetween: 10,
      }, 
      0: {
        slidesPerView: 1.2,
        spaceBetween: 10,
      }
     } // Space between slides
  });
</script>

<!-- <div
  class="image-container flex justify-between w-full px-8 py-[0] h-full bg-[black] text-[#fff]"
>
  {
    data.map((item, index) => (
      <div class="image-item relative m-4 w-2/5 [aspect-ratio:40/80]">
        <div class="heading flex justify-center items-center gap-[0.8rem] mb-4">
          <>
            <div class="logo1 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/a30d6d664bbd8d70e325-awards-left-ico.svg')] bg-cover"></div>
            <p class="text-center m-0 px-[0] py-[10px] relative uppercase text-[12px] text-[white]">
                {item.id} of the year
            </p>
            <div class="logo2 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/1292597e04db92596ba7-awards-right-ico.svg')] bg-cover"></div>
          </>
        </div>
        <div class="image-overlay absolute top-[10] left-[0] w-full h-[90%] bg-[rgba(0,_0,_0,_0.6)] text-[#fff] flex justify-center items-center opacity-0 [transition:opacity_0.3s_ease] pointer-events-none">
          <div class="image-name absolute w-3/5 bottom-[40%] [transition:1s] flex flex-col justify-center items-center text-center">
            <span class="place text-[13px] uppercase text-[rgba(168,_165,_165,_0.945)] m-[0.8rem]">
              {item.place}
            </span>

            <span class="place-name text-[20px] uppercase text-[#ffffffe0]">
              {item.name}
            </span>
          </div>
        </div>
        <a href="/"
          class="img w-full h-4/5 block [transition:opacity_0.3s_ease] bg-cover bg-center"
          style={`background-image: url(${item.imSrc1})`}
        ></a>
      </div>
    ))
  }
</div> -->

<style>
  .image-item:hover .image-overlay {
    opacity: 1;
  }

  .image-item:hover .image-name {
    bottom: 50%;
  }

  /
  @media (max-width: 768px) {
    .

    .image-item {
      flex: 0 0 100%;
      transition: transform 0.5s ease;
    }

    .image-name {
      bottom: 10%;
      transform: translateY(0);
    }
  }
</style>
